@model Day2.HomeTask.FactoryPart.Models.ResultViewModel

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

@{
    @Html.DisplayFor(m => m.ControllerName);
    @Html.DisplayFor(m => m.ActionName);
}