@using Day3.HomeTask.Models
@model Day3.HomeTask.Models.Person

@if (Model.Role == Faction.Dark)
{
<img class="navbar navbar-inverse navbar-fixed-top img-logo" src="~/Content/images/dark_logo.png" />
}
else
{
    <img class="navbar navbar-inverse navbar-fixed-top img-logo" src="~/Content/images/light_logo.jpg" />
}
<div class="faction-header">
    <h2>@Model.Role</h2>
</div>
