@using Day3.HomeTask.Models

@model Day3.HomeTask.Models.Person
@{
    ViewBag.Title = "DisplayPersonInfo";
}

@section header
{
    @Html.Partial("_header")
}

<h2>Person Info</h2>

<h3><b>Name:</b> @Model.Name</h3>
<h3><b>Faction:</b> @Model.Role</h3>

@if (Model.Role == Faction.Dark)
{
    @section scripts
        {
    <script type="text/javascript">
        (function ($) {
            $("body").css('background', '#696969');
        })(jQuery);
    </script>
    }
}

@section footer
{
    @Html.Partial("_changeSide")
}

    


