@model Day3.HomeTask.Models.Person
@{
    ViewBag.Title = "DisplayPersonInfo";
}

@Html.Partial("_header")

<h2>Person Info</h2>

<h3><b>Name</b> @Model.Name</h3>
<h3><b>Faction:</b> @Model.Role</h3>

@Html.Partial("_changeSide")
